## .NET Core
bin/
obj/
*.db
*.db-journal
*.db-wal
*.db-shm
*.sqlite
*.sqlite3

## Visual Studio & VS Code
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

## Rider / JetBrains
.idea/
*.DotSettings.user

## OS Files
.DS_Store
Thumbs.db
